<%= form_for(@event) do |f| %>
  <% if @event.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@event.errors.count, "error") %> prohibited this event from being saved:</h2>

      <ul>
      <% @event.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  
  <div class="field">
    <%= f.text_field :title, placeholder: "Nombre" %>
  </div>

  <div class="field">
    <%= f.text_field :description, placeholder: "Descripción" %>
  </div>

  <div class="field">
    <%= f.text_field :start_time, placeholder: "start" %>
  </div>

  <div class="field">
    <%= f.text_field :end_time, placeholder: "over" %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>

<% end %>
