<p id="notice"><%= notice %></p>


<p>
  <strong>Title:</strong>
  <%= @event.title %>
</p>

<p>
  <strong>Descripción:</strong>
  <%= @event.description %>
</p>

<p>
  <strong>Start</strong>
  <%= @event.start_time %>
</p>

<p>
  <strong>End:</strong>
  <%= @event.end_time %>
</p>


<%= link_to 'Edit', edit_event_path(@event) %> |
<%= link_to 'Back', events_path %>
